div.chooser{
    display:block;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #121212;

    .styleBold{
        position:relative;
        display:block;
        margin-left:30px;
        font-weight: 900;
    }

    .styleBlue{
        color: #336699;
    }

    .styleGreen{
        color: green;
    }
}